<header>
  <div class="header-menu-collapse">
    <button type="button" aria-label="toggle" class="navbar-toggles">
      <span class="nav-icons"></span>
      <span class="nav-icons"></span>
    </button>
  </div>
  <div class="menu-navbar-collapse collapsed-menu">
    <div class="navbar-collapse-menu">
      <div class="menu-list-container">
        <button class="menu-toggle-button" aria-label="Toggle Menu">☰</button>
        <ul class="menu-list">
          <li class="menu-item-type-page-id-101">
            <a href="/" class="menu-item-link" aria-current="page">Главная</a>
          </li>
          <li class="menu-item-type-page-id-102">
            <a href="/aboutUs" class="menu-item-link">О нас</a>
          </li>
          <li class="menu-item-type-page-id-103">
            <a href="/contacts" class="menu-item-link">Контакты</a>
          </li>
          <li class="menu-item-type-page-id-104">
            <a href="/store" class="menu-item-link">Магазин</a>
          </li>
        </ul>
      </div>
      <div class="close-button" aria-label="Закрыть меню">×</div>
    </div>
  </div>
  <div class="title">
    <a href="/" class="menu-item-link">maksvell</a>
  </div>
  <div class="icons">
    <a href="/favorite" class="favorite-link">
      <img src="./img/favorite.png" alt="Избранное">
    </a>
    <a href="#" class="shopping-basket-link">
      <img src="./img/basket.png" alt="Корзина">
    </a>
  </div>
  <div id="basket-modal" class="modal">
    <div class="modal-content">
      <span class="close-button-basket" id="close-basket-modal">&times;</span>
      <h2>Корзина</h2>
      <ul id="basket-items">
        <div class="empty-basket">
          <p>Здесь пока ничего нет</p>
        </div>
      </ul>
    </div>
  </div>
</header>