<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Favorite</title>
  {{> styles}}
  {{> scripts}}
  {{> head}}
  {{> session}}
</head>
<body>
{{> header}}
<main>
  <div class="empty">
    <p>Здесь пока ничего нет</p>
  </div>
</main>
{{> footer}}
</body>
</html>