<link rel="stylesheet" href="/css/login.css">
<script src="/js/login-register.js"></script>
<h2>Вход</h2>
<form id="login-form">
  <label for="username">Логин:</label>
  <input type="text" id="username" name="username" required>
  <br>
  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <button type="submit">Войти</button>
</form>
<p>
  Не зарегистрированы? <a href="/register">Зарегистрироваться</a>
</p>